jupyterlab==3.6.7
matplotlib==3.3.0
notebook==6.4.12
numpy==1.22.2
pandas==1.1.0
requests==2.31.0
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=1.26.18 # not directly required, pinned by Snyk to avoid a vulnerability
